@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .modal li:hover: {
  background-color: initial;
  height: auto;
}

.modal a:hover {
  background-image: linear-gradient(-60deg, cyan 45%, green 55%);
  -webkit-background-clip: text;
  color: transparent;
}

.menu:hover {
  background-color: green;
} */

.nav {
  padding: 1.75rem 0;
}

.nav:hover {
  color: hsl(233, 8%, 62%);
  border-bottom: 4px solid lineargradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
